.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: auto;
  overflow: hidden;
  color: var(--text-color, #000);
  padding: 4rem 4rem 4rem 4rem;
  h1 {
    font-size: 4rem;
    color: var(--primary-color);
  }
  > * {
    background: none;
  }
  > a {
    text-align: center;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    padding: 0.25rem 0.75rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    &:hover {
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
      background-color: var(--secondary-color);
    }
  }
}
