$staticStorageUrl: 'https://static.bit.dev';

// default
@font-face {
  font-family: 'CircularPro';
  src: url($staticStorageUrl + '/fonts/CircularPro-Book.otf');
}

// bold
@font-face {
  font-family: 'CircularPro';
  src: url($staticStorageUrl + '/fonts/CircularPro-Bold.otf');
  font-weight: bold;
}

// bold-er
@font-face {
  font-family: 'CircularPro';
  src: url($staticStorageUrl + '/fonts/CircularPro-Black.otf');
  font-weight: 800;
}

// italic
@font-face {
  font-family: 'CircularPro';
  src: url($staticStorageUrl + '/fonts/CircularPro-BookItalic.otf');
  font-style: italic;
}

// bold + italic
@font-face {
  font-family: 'CircularPro';
  src: url($staticStorageUrl + '/fonts/CircularPro-BoldItalic.otf');
  font-style: italic;
  font-weight: bold;
}

// bold-er + italic
@font-face {
  font-family: 'CircularPro';
  src: url($staticStorageUrl + '/fonts/CircularPro-BlackItalic.otf');
  font-style: italic;
  font-weight: 800;
}

.bookFont {
  font-family: 'CircularPro', 'Gill Sans', 'Gill Sans MT', 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
}
